/* .container{


    height: 800px;
    width: 1000px;
    background-color: rgb(87, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 300px;
}

.main{

    height: 80%;
    width: 80%;
    background-color: aqua;
}

.listHeader{

    background-color: blueviolet;
    height: 80px;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    

} */


