/* .container{


    height: 800px;
    width: 1000px;
    background-color: rgb(87, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 300px;
}

.main{

    height: 80%;
    width: 80%;
    background-color: aqua;
}

.listHeader{

    background-color: blueviolet;
    height: 80px;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    

} */


.main{

    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: aqua;
    padding: 40px 10px;
    margin: 100px 500px;
}


