/* .container{


    height: 800px;
    width: 1000px;
    background-color: rgb(87, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 300px;
}

.main{

    height: 80%;
    width: 80%;
    background-color: aqua;
}

.listHeader{

    background-color: blueviolet;
    height: 80px;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    

} */


.main{

    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: aqua;
    padding: 40px 10px;
    margin: 100px 500px;
}


.text, input{
   /*background-color: blueviolet;
   */height: 30px;
   width: 50%;
   margin: 0px 30px;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
 
}

}
.text, button{
    /*background-color: blueviolet;
    */height: 40px;
    width: 20%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


ul{

    margin-top: 50px;
    height: 400px;
    background-color: rgb(150, 150, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

li{
    margin: 10px 0px;
    padding: 10px;
    width: 400px;
    background-color: rgb(207, 76, 76);
    color: rgb(10, 8, 4);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

span{
   float: right;
   margin: 0px 10px;
   cursor: pointer;
}


